$purple: #9c27b0;
$teal: #2196f3;
$orange: #f44336;
$green: #4caf50;
$reddish: #e91e63;

$menu_height: 1em;
$menu-colour: $teal;

#main{
	margin:$menu_height;
	div{
		margin:0.5em 0;
	}
}

img{
	image-orientation: from-image;
}

.main-wrapper{
	text-align:center;
	margin-left:auto;
	margin-right:auto;
	width:min-content;
	img{
		background-color:rgba(255,255,255,255);
		padding: $menu_height 0;
		image-orientation: from-image;
	}
	font-size: xx-large;
	button{
		font-size: xx-large;
		margin:0.1em;
		img{
			background-color:transparent;
		}
	}
	table{
		button{
			width:2em;
			height:2em;
			padding:0;
			margin:0;
		}
		font-size: large;
	}
}

button{
	cursor: pointer;
}

.tilecolourinvert0{
	color:$purple;
}
.tilecolourinvert1{
	color:$teal;
}
.tilecolourinvert2{
	color:$orange;
}
.tilecolourinvert3{
	color:$green;
}
.tilecolourinvert4{
	color:$reddish;
}
.tilecolour0{
	background-color:$purple;
}
.tilecolour1{
	background-color:$teal;
}
.tilecolour2{
	background-color:$orange;
}
.tilecolour3{
	background-color:$green;
}
.tilecolour4{
	background-color:$reddish;
}

.menu {
	position: fixed;
	z-index:100;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	background-color: $menu-colour;

	a{
		text-decoration: none;
		padding: $menu_height;
		margin: auto;
		text-align: center;
		float: left;
		background-color: lighten($menu-colour,30%);
		color: $menu-colour;
		transition: all 0.5s ease-in-out;
		&:hover{
			background-color: $menu-colour;
			color: lighten($menu-colour,30%);
		}
		&.current{
			background-color: darken($menu-colour,40%);
			color: lighten($menu-colour,10%);
			&:hover{
				background-color: lighten($menu-colour,10%);
				color: darken($menu-colour,40%);
			}
		}
	}
}

$card-size: 6em;

$shrinkwidth: 700px;


.card{
	transition-duration: 0s;
	width:$card-size;
	height:$card-size;
	@media only screen and (max-width: $shrinkwidth){
		height: $card-size/2;
		width: $card-size/2;
		padding: 0.5em;
	}
	display:inline-flex;
	justify-content:center;
	align-items:center;
	position:relative;
	padding:1em;
	.txt{
//		display:flex;
		//margin:auto 0;
//		text-align:center;
		//height:100%;
//		position:relative;
//		top:0;
		position:absolute;
		top:50%;
		left:50%;
		transform:translate(-50%,-50%);
	}
	img{
//		padding:0;
//		min-width:100%;
//		max-width:100%;
	}
	&[data-face="down"]{
		.txt{
			display:none;
		}
		.img{
			display:none;
		}
	}
	&[data-face="up"]{
		.back{
			display:none;
		}
		&[data-type="img"]{
			.txt{
				display:none;
			}
		}
		&[data-type="txt"]{
			.img{
				display:none;
			}
		//	padding:0 1em;
		}
	}
	&[data-face="correct"]{
		.back{
			display:none;
		}
//		.img{
//			position:absolute;
//			top:0;
//			left:0;
//		}
		.txt{
			position:absolute;
			top:50%;
			left:50%;
			transform:translate(-50%,-50%);
		}
	}
}
/*
#card-container{
	font-size:xx-large;
	z-index: -1;
	display: flex;
	height: calc(100vh - #{$menu-height*2+2em});
	margin:auto;
	flex-wrap:wrap;
	justify-content: space-between;
	align-content: space-between;
}
*/
#card-container{
	font-size:xx-large;
	columns: 4 auto;
	text-align: center;
}
body {
	margin-top: $menu-height*2 + 1.5em;
}

td{
	padding: 0.5em;
}

.selected{
	font-weight: bold;
}

*{
	transition: all 0.5s ease-in-out;
}
