#main {
  margin: 1em; }
  #main div {
    margin: 0.5em 0; }

img {
  image-orientation: from-image; }

.main-wrapper {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: min-content;
  font-size: xx-large; }
  .main-wrapper img {
    background-color: white;
    padding: 1em 0;
    image-orientation: from-image; }
  .main-wrapper button {
    font-size: xx-large;
    margin: 0.1em; }
    .main-wrapper button img {
      background-color: transparent; }
  .main-wrapper table {
    font-size: large; }
    .main-wrapper table button {
      width: 2em;
      height: 2em;
      padding: 0;
      margin: 0; }

button {
  cursor: pointer; }

.tilecolourinvert0 {
  color: #9c27b0; }

.tilecolourinvert1 {
  color: #2196f3; }

.tilecolourinvert2 {
  color: #f44336; }

.tilecolourinvert3 {
  color: #4caf50; }

.tilecolourinvert4 {
  color: #e91e63; }

.tilecolour0 {
  background-color: #9c27b0; }

.tilecolour1 {
  background-color: #2196f3; }

.tilecolour2 {
  background-color: #f44336; }

.tilecolour3 {
  background-color: #4caf50; }

.tilecolour4 {
  background-color: #e91e63; }

.menu {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: #2196f3; }
  .menu a {
    text-decoration: none;
    padding: 1em;
    margin: auto;
    text-align: center;
    float: left;
    background-color: #b2dbfb;
    color: #2196f3;
    transition: all 0.5s ease-in-out; }
    .menu a:hover {
      background-color: #2196f3;
      color: #b2dbfb; }
    .menu a.current {
      background-color: #042844;
      color: #51adf6; }
      .menu a.current:hover {
        background-color: #51adf6;
        color: #042844; }

.card {
  transition-duration: 0s;
  width: 6em;
  height: 6em;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 1em; }
  @media only screen and (max-width: 700px) {
    .card {
      height: 3em;
      width: 3em;
      padding: 0.5em; } }
  .card .txt {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .card[data-face="down"] .txt {
    display: none; }
  .card[data-face="down"] .img {
    display: none; }
  .card[data-face="up"] .back {
    display: none; }
  .card[data-face="up"][data-type="img"] .txt {
    display: none; }
  .card[data-face="up"][data-type="txt"] .img {
    display: none; }
  .card[data-face="correct"] .back {
    display: none; }
  .card[data-face="correct"] .txt {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

/*
#card-container{
	font-size:xx-large;
	z-index: -1;
	display: flex;
	height: calc(100vh - 4em);
	margin:auto;
	flex-wrap:wrap;
	justify-content: space-between;
	align-content: space-between;
}
*/
#card-container {
  font-size: xx-large;
  columns: 4 auto;
  text-align: center; }

body {
  margin-top: 3.5em; }

td {
  padding: 0.5em; }

.selected {
  font-weight: bold; }

* {
  transition: all 0.5s ease-in-out; }

/*# sourceMappingURL=style.css.map */
